<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HugoLandContext"
         connectionString="metadata=res://*/Models.HugoLandEDM.csdl|res://*/Models.HugoLandEDM.ssdl|res://*/Models.HugoLandEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.20.230;initial catalog=4DB-Equipe5-2021;persist security info=True;user id=4DB-Equipe5;password=Abcd123!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJoueurService" />
        <binding name="BasicHttpBinding_IMondeService" />
        <binding name="BasicHttpBinding_IClasseService" />
        <binding name="BasicHttpBinding_IItemService" />
        <binding name="BasicHttpBinding_ITileImgService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoueurService"
        contract="HL_Services.IJoueurService" name="BasicHttpBinding_IJoueurService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMondeService"
        contract="HL_Services.IMondeService" name="BasicHttpBinding_IMondeService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClasseService"
        contract="HL_Services.IClasseService" name="BasicHttpBinding_IClasseService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemService"
        contract="HL_Services.IItemService" name="BasicHttpBinding_IItemService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITileImgService"
        contract="HL_Services.ITileImgService" name="BasicHttpBinding_ITileImgService" />
    </client>
  </system.serviceModel>
</configuration>